*.z64
*.n64
*.v64
*.ld
*.map
*.o
*.s
*.inc.c
*.bin
*.elf
*.d
*.a
*.png
*.ci
*.pal
*.gif
*.json
*.mid
!mozart-sample.mid
*.txt
asm/
assets/**/*.png
assets/**/*.ci
assets/**/*.pal
assets/**/*.txt
assets/**/*.json
assets/**/*.gif
!config/us/symbol_addrs.txt
!config/us/undefined_funcs.txt
!config/us/undefined_syms.txt
!config/jp/symbol_addrs.txt
!config/jp/undefined_funcs.txt
!config/jp/undefined_syms.txt
!tools/requirements.txt
bin/
build/
expected/
tools/gcc-2.7.2
__pycache__
.vscode
undefined_syms_auto.txt
undefined_funcs_auto.txt
*Zone.Identifier
!/lib/libkmc/src/*.s
!/lib/libultra/src/gu/*.s
!/lib/libultra/src/libc/*.s
!/lib/libultra/src/os/*.s
!/lib/libultra/src/rmon/*.s
!/lib/ucode/gspF3DEX2.fifo.s
!/lib/ucode/n_aspMain.s
!/lib/ucode/rspboot.s
!/config/us/common_bss.ld
/tools/build/mkldscript
