*.z64
*.n64
*.v64
*.ld
*.map
*.o
*.s
*.bin
*.elf
*.d
*.a
*.png
*.ci
*.pal
*.gif
*.txt
!tools/requirements.txt
*.mid
!mozart-sample.mid
assets/
asm/
bin/
build/
obj/
tools/gcc-2.7.2
__pycache__
.vscode
undefined_syms_auto.txt
undefined_funcs_auto.txt
*Zone.Identifier
!/src/lib/gcc/*.s
!/src/lib/os/libultra/gu/*.s
!/src/lib/os/libultra/libc/*.s
!/src/lib/os/libultra/rmon/*.s
