colorama==0.4.3
colour==0.1.5
GitPython==3.1.32
GitPython==3.1.40
intervaltree==3.1.0
n64img==0.3.3
numpy==1.24.4
pygfxd==1.0.1
pylibyaml==0.1.0
PyYAML==6.0.1
PyYAML==6.0.1
rabbitizer==1.7.6
spimdisasm==1.18.0
tqdm==4.66.1
mapfile_parser>=2.3.0,<3.0.0